<div class="section" id="burger-menu">
    <div class="container">

        <!-- ROW 1 / COL 1 - HEADER -->
        <div class="row">
            <div class="col s12 m12 l12 center-align">
                <h2 class="header title-hdr">-- J. Wellington Wimpy's Diner --</h2>
                <h5 id="subtitle-hdr">"Get a hamburger today and don't pay until Tuesday!"</h5>
            </div>
        </div>

        <!-- ROW 2 / COL 1 - Form Entry Card w/Image -->
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card horizontal z-depth-2">
                    <div class="card-image">
                        <img class="responsive-img" src="assets/images/Wimpys.png">
                    </div>
                    <div class="card-content valign-wrapper center-align">
                        <form class="burgerform">
                            <h5>Name a burger we can get for you:</h5>
                            <input type="text" name="burger-name" placeholder="Double Cheeseburger" size="50">
                            <input id="add-btn" type="submit" class="btn waves-effect waves-light" value="Order Burger">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- ROW 3 / COL 1 - Ordered Burger List Card with image -->
            <div class="col s12 m12 l6">
                <div class="card burgerlist z-depth-2">
                    <div class="card-image">
                    <img src="assets/images/burger.jpg">
                    </div>
                    <h4 class="header text_b center-align">Burgers you've ordered</h4>
                    <table class="striped">
                        {{#each burgers}}
                        {{#unless this.devoured}}
                        <tr>
                            <td>
                                <p>{{this.burger_name}}</p>
                            </td>
                            <td><button class="eat-btn btn waves-effect waves-light" data-id={{this.id}}><i class="fas fa-utensils"></i>
                                    Eat</button></td>
                            <td><button class="delete-btn btn waves-effect waves-light" data-id={{this.id}}><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        {{/unless}}
                        {{/each}}
                    </table>
                </div>
            </div>

            <!-- ROW 3 / COL 2 - Eaten Burger List Card with image -->
            <div class="col s12 m12 l6">
                <div class="card burgerlist z-depth-2">
                    <div class="card-image">
                    <img src="assets/images/meal-finished.jpg">
                    </div>
                    <h4 class="header text_b center-align">Burgers you've eaten</h4>
                    <table class="striped">
                        {{#each burgers}}
                        {{#if this.devoured}}
                        <tr>
                            <td>
                                <p>{{this.burger_name}}</p>
                            </td>
                            <td><button class="delete-btn btn waves-effect waves-light" data-id={{this.id}}><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>